.main-btn {
  background-color: purple !important;
}

.box-component {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  color: grey;
}
h2 {
  font-weight: 650;
}

.card {
  height: 200px;
  width: 220px;
  margin: 0 auto;
}

.display-area,
.notification-section {
  margin: 0 auto !important;
  width: 75%;
}

.MuiSlider-root {
  margin-top: 15%;
}

.MuiSwitch-root {
  margin-top: 13%;
}

.MuiFormControl-root {
  width: 80% !important;
  margin-left: 10% !important;
}
